@using PLMvc.Infrastructure;
@model PLMvc.Models.PagingModels.UsersPaging

<h3 class="text-center">Search result</h3>
<hr />

@if (Model.Users.Count() != 0)
{
    <div>
        @foreach (var user in Model.Users)
        {
            <div class="row">
                @if (user.Avatar == null)
                { 
                    <div class="col-md-3">
                        <img src="~/Images/default-avatar.png" class="avatar img-circle img-thumbnail" style="margin-left: 30%; width: 40%" alt="avatar" />
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <img src="@Url.Action("GetAvatar", "Photo", new { id = user.Id })" class="avatar img-circle img-thumbnail" style="margin-left: 30%; width: 40%" alt="image" />
                    </div>
                }
                <div class="col-md-7" style = "padding-top:1%">
                    <h3>@user.UserName</h3>
                </div>
                <div class="col-md-2" style = "padding-top:3%">
                    <a href="@Url.Action("ShowUser", "Home", new { userId = user.Id })">
                        <label for="user" class="btn btn-large btn-primary">
                            Show
                            <input type="button" class="hidden" />
                        </label>
                    </a>
                </div>
            </div>
        }
        @Html.PageLinks(Model.PageInfo, page => Url.Action("PagingUsers", "Home", new { page, searchText = Model.SearchText }), new AjaxOptions() { UpdateTargetId = "updateSearch" })
    </div>
}
else
{
    <h3>User with with username doesn't exist</h3>
}