@model PLMvc.Models.CommentUserViewModel

<div class="media">
    <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="pull-left">
            <a href="@Url.Action("ShowUser", "Home", new { userId = Model.User.Id })">
                @if (Model.User.Avatar != null)
                {
                    <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.User.Avatar))" class="avatar img-circle img-thumbnail" style="margin-left: 30%; width: 40%" alt="avatar">
                }
                else
                {
                    <img src="~/Images/default-avatar.png" class="avatar img-circle img-thumbnail" style="margin-left: 30%; width: 40%" alt="avatar">
                }
            </a>
        </div>
    </div>
    <div class="col-md-8-col-sm-8 col-xs-8" style="padding-top:1%">
        <div class="media-body">
            <h4 class="media-heading">@Model.User.UserName</h4>
            <p>@Model.Comment.Description</p>
        </div>
    </div>
    @if (User.Identity.Name == Model.User.UserName)
    {
        using (Ajax.BeginForm("DeleteComment", new { commentId = Model.Comment.Id, photoId = Model.Comment.PhotoId, page = Model.Page }, new AjaxOptions { UpdateTargetId = "updateComments", InsertionMode = InsertionMode.Replace }))
        {
                <div class="pull-right" style="padding-top:1%">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </div>
            
        }
    }
</div>