@using PLMvc.Models;
@using PLMvc.Infrastructure;
@model PhotosPaging

<div id="update">    
    @if (Model.PageInfo.TotalItems != 0)
    {
        <div class="row">
            <div class="profiles container thumbnail">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3 >All photos</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="profiles container thumbnail">
                @foreach (var photo in Model.Photos)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a href="@Url.Action("PhotoDetails", "Photo", new { photoId = ((PhotoViewModel)photo).Id })">
                            <img src="@Url.Action("GetImage", "Photo", new { id = photo.Id })" class="img-responsive" alt="avatar" />
                        </a>
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>@photo.NumberOfLikes
                    </div>
                }
            </div>
            @Html.PageLinks(Model.PageInfo, page => Url.Action("PagingPhotos", "Photo", new { page, userId = Model.Photos.FirstOrDefault().UserId }),
         new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "update" })
        </div>
    }
    else
    {
        <div class="row">
            <div class="profiles container thumbnail">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3>This page has no photos.</h3>
                    </div>
                </div>
            </div>
        </div>
    }
</div>